# OS Files
.DS_Store
.Trashes
ehthumbs.db
Thumbs.db

# Editors
.idea
.nova

# Environment
.env
/.config

# Log & Temporary Files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ruby & Gems
Gemfile.lock
*.gem
*.rbc
.ruby-version
.ruby-gemset
.rvmrc
.rubocop-https?--*
/coverage/
/pkg/

# Bundler
/.bundle/
/vendor/bundle

# RSpec
/spec/reports/
/spec/examples.txt

# Documentation
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# Byebug
.byebug_history
